/*
 * elepay API リファレンス
 * elepay APIはRESTをベースに構成された決済APIです。支払い処理、返金処理など、決済に関わる運用における様々なことができます。
 *
 * The version of the OpenAPI document: 1.2.5
 * Contact: support@elestyle.jp
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.elepay.client.charge.api;

import com.fasterxml.jackson.core.type.TypeReference;

import io.elepay.client.charge.ApiException;
import io.elepay.client.charge.ApiClient;
import io.elepay.client.charge.Configuration;
import io.elepay.client.charge.pojo.*;
import io.elepay.client.charge.Pair;

import io.elepay.client.charge.pojo.ChargeCaptureReq;
import io.elepay.client.charge.pojo.ChargeDateTimeType;
import io.elepay.client.charge.pojo.ChargeDto;
import io.elepay.client.charge.pojo.ChargeReq;
import io.elepay.client.charge.pojo.ChargeStatusDto;
import io.elepay.client.charge.pojo.ChargeStatusType;
import io.elepay.client.charge.pojo.ChargesResponse;
import io.elepay.client.charge.pojo.PaymentMethodType;
import io.elepay.client.charge.pojo.SortOrderType;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
public class ChargeApi {


  private ApiClient apiClient;

  public ChargeApi() {
    this(Configuration.getDefaultApiClient());
  }

  public ChargeApi(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  public ApiClient getApiClient() {
    return apiClient;
  }

  public void setApiClient(ApiClient apiClient) {
    this.apiClient = apiClient;
  }

  /**
   * Capture charge
   * 決済を確定します。
   * @param id Charge ID (required)
   * @param chargeCaptureReq  (optional)
   * @return ChargeDto
   * @throws ApiException if fails to make API call
   */
  public ChargeDto captureCharge(String id, ChargeCaptureReq chargeCaptureReq) throws ApiException {
    return this.captureCharge(id, chargeCaptureReq, Collections.emptyMap());
  }


  /**
   * Capture charge
   * 決済を確定します。
   * @param id Charge ID (required)
   * @param chargeCaptureReq  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return ChargeDto
   * @throws ApiException if fails to make API call
   */
  public ChargeDto captureCharge(String id, ChargeCaptureReq chargeCaptureReq, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = chargeCaptureReq;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling captureCharge");
    }
    
    // create path and map variables
    String localVarPath = "/charges/{id}/capture"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json;charset=utf-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json;charset=utf-8"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ChargeDto> localVarReturnType = new TypeReference<ChargeDto>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create charge
   * 決済処理を行います。
   * @param chargeReq 支払リクエスト (required)
   * @return ChargeDto
   * @throws ApiException if fails to make API call
   */
  public ChargeDto createCharge(ChargeReq chargeReq) throws ApiException {
    return this.createCharge(chargeReq, Collections.emptyMap());
  }


  /**
   * Create charge
   * 決済処理を行います。
   * @param chargeReq 支払リクエスト (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return ChargeDto
   * @throws ApiException if fails to make API call
   */
  public ChargeDto createCharge(ChargeReq chargeReq, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = chargeReq;
    
    // verify the required parameter 'chargeReq' is set
    if (chargeReq == null) {
      throw new ApiException(400, "Missing the required parameter 'chargeReq' when calling createCharge");
    }
    
    // create path and map variables
    String localVarPath = "/charges";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json;charset=utf-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json;charset=utf-8"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ChargeDto> localVarReturnType = new TypeReference<ChargeDto>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * List charges
   * 決済に関する情報を一覧で取得します。
   * @param paymentMethod 決済方法(複数の指定が可能です) (optional
   * @param from 開始時間（UTC）。指定した時間以降に作成されたデータを取得します。 (optional)
   * @param to 終了時間（UTC）。指定した時間以前に作成されたデータを取得します (optional)
   * @param dateField 開始時間と終了時間の項目を指定します。 - paid_time 払う時間 - create_time 決済新規時間  (optional, default to create_time)
   * @param status 支払状況 (optional)
   * @param limit 最大件数 (optional, default to 20)
   * @param offset 検索開始位置 (optional, default to 0)
   * @param sort ソート項目 - paid_time 払う時間 - create_time 決済新規時間  (optional, default to create_time)
   * @param order ソート順 - desc 降順 - asc 昇順  (optional, default to desc)
   * @return ChargesResponse
   * @throws ApiException if fails to make API call
   */
  public ChargesResponse listCharges(List<PaymentMethodType> paymentMethod, Long from, Long to, ChargeDateTimeType dateField, ChargeStatusType status, Integer limit, Integer offset, ChargeDateTimeType sort, SortOrderType order) throws ApiException {
    return this.listCharges(paymentMethod, from, to, dateField, status, limit, offset, sort, order, Collections.emptyMap());
  }


  /**
   * List charges
   * 決済に関する情報を一覧で取得します。
   * @param paymentMethod 決済方法(複数の指定が可能です) (optional
   * @param from 開始時間（UTC）。指定した時間以降に作成されたデータを取得します。 (optional)
   * @param to 終了時間（UTC）。指定した時間以前に作成されたデータを取得します (optional)
   * @param dateField 開始時間と終了時間の項目を指定します。 - paid_time 払う時間 - create_time 決済新規時間  (optional, default to create_time)
   * @param status 支払状況 (optional)
   * @param limit 最大件数 (optional, default to 20)
   * @param offset 検索開始位置 (optional, default to 0)
   * @param sort ソート項目 - paid_time 払う時間 - create_time 決済新規時間  (optional, default to create_time)
   * @param order ソート順 - desc 降順 - asc 昇順  (optional, default to desc)
   * @param additionalHeaders additionalHeaders for this call
   * @return ChargesResponse
   * @throws ApiException if fails to make API call
   */
  public ChargesResponse listCharges(List<PaymentMethodType> paymentMethod, Long from, Long to, ChargeDateTimeType dateField, ChargeStatusType status, Integer limit, Integer offset, ChargeDateTimeType sort, SortOrderType order, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // create path and map variables
    String localVarPath = "/charges";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "paymentMethod", paymentMethod));
    localVarQueryParams.addAll(apiClient.parameterToPair("from", from));
    localVarQueryParams.addAll(apiClient.parameterToPair("to", to));
    localVarQueryParams.addAll(apiClient.parameterToPair("dateField", dateField));
    localVarQueryParams.addAll(apiClient.parameterToPair("status", status));
    localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
    localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
    localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));
    localVarQueryParams.addAll(apiClient.parameterToPair("order", order));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json;charset=utf-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ChargesResponse> localVarReturnType = new TypeReference<ChargesResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Retrieve charge
   * 決済に関する詳細情報を取得します。
   * @param id Charge ID (required)
   * @return ChargeDto
   * @throws ApiException if fails to make API call
   */
  public ChargeDto retrieveCharge(String id) throws ApiException {
    return this.retrieveCharge(id, Collections.emptyMap());
  }


  /**
   * Retrieve charge
   * 決済に関する詳細情報を取得します。
   * @param id Charge ID (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return ChargeDto
   * @throws ApiException if fails to make API call
   */
  public ChargeDto retrieveCharge(String id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling retrieveCharge");
    }
    
    // create path and map variables
    String localVarPath = "/charges/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json;charset=utf-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ChargeDto> localVarReturnType = new TypeReference<ChargeDto>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Retrieve charge&#39;s status
   * 決済のステータスに関する詳細情報を取得します。
   * @param id Charge ID (required)
   * @return ChargeStatusDto
   * @throws ApiException if fails to make API call
   */
  public ChargeStatusDto retrieveChargeStatus(String id) throws ApiException {
    return this.retrieveChargeStatus(id, Collections.emptyMap());
  }


  /**
   * Retrieve charge&#39;s status
   * 決済のステータスに関する詳細情報を取得します。
   * @param id Charge ID (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return ChargeStatusDto
   * @throws ApiException if fails to make API call
   */
  public ChargeStatusDto retrieveChargeStatus(String id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling retrieveChargeStatus");
    }
    
    // create path and map variables
    String localVarPath = "/charges/{id}/status"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json;charset=utf-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ChargeStatusDto> localVarReturnType = new TypeReference<ChargeStatusDto>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Revoke charge
   * 決済を取消します。
   * @param id Charge ID (required)
   * @return ChargeDto
   * @throws ApiException if fails to make API call
   */
  public ChargeDto revokeCharge(String id) throws ApiException {
    return this.revokeCharge(id, Collections.emptyMap());
  }


  /**
   * Revoke charge
   * 決済を取消します。
   * @param id Charge ID (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return ChargeDto
   * @throws ApiException if fails to make API call
   */
  public ChargeDto revokeCharge(String id, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling revokeCharge");
    }
    
    // create path and map variables
    String localVarPath = "/charges/{id}/revoke"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json;charset=utf-8"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ChargeDto> localVarReturnType = new TypeReference<ChargeDto>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

}
